##Условие 1:
###Задача 1
Скачать данные. Считать данные с помощью pandas. Вывести на экран первые 5 строк.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/kc-house-data.csv')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

##1.2
Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома

In [5]:
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']

In [6]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,-1955
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,-1933
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,-1965
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,-1987

##1.3
 Создайте признаки года продажи, месяца продажи

In [7]:
def extract_year(string):
  return string[0:4]

In [8]:
df['year'] = df['date'].apply(extract_year)

In [9]:
def extract_month(string):
  return string[4:6]

In [10]:
df['month'] = df['date'].apply(extract_month)

In [11]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year,month
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,-1955,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,-1933,2015,02
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,-1965,2014,12
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,-1987,2015,02

##1.4
 Удалите признаки date, zipcode, lat, long

In [12]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)

In [13]:
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,-1955,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,-1933,2015,02
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,-1965,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,-1987,2015,02

##Условие 2:
###2 задача
Создайте датафрейм с клиентами:

In [14]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [15]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  32 non-null     int64
 1   house_id   32 non-null     int64
dtypes: int64(2)
memory usage: 640.0 bytes

##2.1
Присоедините к таблице clients данные по домам через метод join

In [16]:
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

In [17]:
clients = clients.set_index('client_id')

In [18]:
df_joined = clients.join(df)

In [19]:
df_joined.head()

,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
client_id,,,,,,,,,,,,,,,,,,,,,
1459,8965450190,3275860270,755000.0,3,2.25,3020,13031,2.0,0,0,...,9,3020,0,1989,0,2480,10204,-1989,2014,10
4684,6823100225,9268200600,413500.0,2,1.00,770,4000,1.0,0,0,...,5,770,0,1924,0,1420,5040,-1924,2014,05
3498,5104540330,9547204350,690000.0,3,2.00,1610,5100,1.5,0,0,...,8,1610,0,1940,0,1740,5100,-1940,2014,05
3942,2131701075,8861500015,675000.0,3,2.25,1990,10260,2.0,0,0,...,8,1990,0,1987,0,1990,10260,-1987,2014,05
4535,1522700060,5556300076,1442500.0,3,2.25,2630,9705,2.5,0,2,...,8,2630,0,1987,0,2640,14284,-1987,2015,04

In [20]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 1459 to 1474
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   house_id         32 non-null     int64
 1   id               32 non-null     int64
 2   price            32 non-null     float64
 3   bedrooms         32 non-null     int64
 4   bathrooms        32 non-null     float64
 5   sqft_living      32 non-null     int64
 6   sqft_lot         32 non-null     int64
 7   floors           32 non-null     float64
 8   waterfront       32 non-null     int64
 9   view             32 non-null     int64
 10  condition        32 non-null     int64
 11  grade            32 non-null     int64
 12  sqft_above       32 non-null     int64
 13  sqft_basement    32 non-null     int64
 14  yr_built         32 non-null     int64
 15  yr_renovated     32 non-null     int64
 16  sqft_living15    32 non-null     int64
 17  sqft_lot15       32 non-null     int64
 18  delta_renovated  32 non-null     int64
 19  year             32 non-null     object
 20  month            32 non-null     object
dtypes: float64(3), int64(16), object(2)
memory usage: 6.5+ KB

##2.2
Присоедините к таблице clients данные по домам через метод merge. Это нужно, чтобы понимать, какие дома покупались клиентами house_id - это индексы датафрейма с домами.

In [21]:
clients.reset_index().head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

In [22]:
clients = clients.set_index('house_id')

In [23]:
clients.head()

Empty DataFrame
Columns: []
Index: [8965450190, 6823100225, 5104540330, 2131701075, 1522700060]

In [24]:
df_merged = clients.merge(df, left_on='house_id', right_on='id')

In [25]:
df_merged.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,-1994,2015,02
1,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,-1949,2015,04
2,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,-2006,2015,05
3,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12
4,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,-1999,2014,06

In [26]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               33 non-null     int64
 1   price            33 non-null     float64
 2   bedrooms         33 non-null     int64
 3   bathrooms        33 non-null     float64
 4   sqft_living      33 non-null     int64
 5   sqft_lot         33 non-null     int64
 6   floors           33 non-null     float64
 7   waterfront       33 non-null     int64
 8   view             33 non-null     int64
 9   condition        33 non-null     int64
 10  grade            33 non-null     int64
 11  sqft_above       33 non-null     int64
 12  sqft_basement    33 non-null     int64
 13  yr_built         33 non-null     int64
 14  yr_renovated     33 non-null     int64
 15  sqft_living15    33 non-null     int64
 16  sqft_lot15       33 non-null     int64
 17  delta_renovated  33 non-null     int64
 18  year             33 non-null     object
 19  month            33 non-null     object
dtypes: float64(3), int64(15), object(2)
memory usage: 5.4+ KB

In [27]:
df_merged.shape

(33, 20)

##Условие 3:
###3 задача
Составьте несколько сводных таблиц

##3.1
Найдите среднюю стоимость домов в зависимости от количества спален. Отсортируйте от меньшей стоимости к большей.

In [28]:
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,-1955,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,-1933,2015,02
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,-1965,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,-1987,2015,02

In [29]:
t = df.groupby('bedrooms')['price'].agg(['mean', 'max', 'min'])

In [30]:
t.sort_values('mean')

                  mean        max       min
bedrooms
1         3.176429e+05  1247000.0   75000.0
2         4.013727e+05  3278000.0   78000.0
0         4.095038e+05  1295650.0  139950.0
3         4.662321e+05  3800000.0   82000.0
11        5.200000e+05   520000.0  520000.0
4         6.354195e+05  4489000.0  100000.0
33        6.400000e+05   640000.0  640000.0
5         7.865998e+05  7062500.0  133000.0
10        8.193333e+05  1148000.0  650000.0
6         8.255206e+05  7700000.0  175000.0
9         8.939998e+05  1400000.0  450000.0
7         9.511847e+05  3200000.0  280000.0
8         1.105077e+06  3300000.0  340000.0

##3.2
Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома.

In [49]:
df.groupby('condition')['price'].agg(['min', 'mean', 'max'])

                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

In [52]:
df.pivot_table(index='condition', aggfunc={'price': ['min', 'mean', 'max']})

               price
                 max           mean       min
condition
1          1500000.0  334431.666667   78000.0
2          2555000.0  327287.145349   80000.0
3          7062500.0  542012.578148   75000.0
4          7700000.0  521200.390033   89000.0
5          3650000.0  612418.089359  110000.0

##3.3
Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [45]:
df.pivot_table(index='waterfront', columns='view', values='id', aggfunc='count', fill_value=0)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

##3.4
Каких домов в зависимости от этажности и количества спален больше?

In [44]:
df.pivot_table(index='floors', columns='bedrooms', values='id', aggfunc='count', fill_value=0)

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

##3.5
Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома.

In [48]:
df.pivot_table(index='condition', columns='grade', values='price', aggfunc='median', fill_value=0)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000,0,150000,190000,255000,403500,932500,0,0,0,0,0
2,0,280000,145000,180000,235000,305000,429000,715000,1752500,0,0,0
3,0,75000,205000,234475,265000,357500,485000,689000,890000,1209500,1807500,2888000
4,0,0,238525,229975,295000,390000,571250,823500,1030000,1685000,2125000,5750000
5,0,262000,0,227450,285475,456000,696000,1078000,1650000,2050000,1990000,0